/* Mixin para flexbox. Llamando a las variables $align y $justify como argumentos, se podrá cambiar su valor */

@mixin flexbox($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin gradientAnimation {
  @keyframes gradientAnimation {
    0% {
      background-color: $primary-color; // Color base
    }

    10% {
      background: linear-gradient(15deg, $primary-color, #85cbf2); // Gradiente intermedio 1
    }

    20% {
      background: linear-gradient(30deg, $primary-color, #7bc3f1); // Gradiente intermedio 2
    }

    30% {
      background: linear-gradient(45deg, $primary-color, #72bbed); // Gradiente intermedio 3
    }

    40% {
      background: linear-gradient(60deg, $primary-color, #68b5eb); // Gradiente intermedio 4
    }

    50% {
      background: linear-gradient(75deg, $primary-color, #5faeec); // Gradiente intermedio 5
    }

    60% {
      background: linear-gradient(90deg, $primary-color, #56a6e9); // Gradiente intermedio 6
    }

    70% {
      background: linear-gradient(105deg, $primary-color, #4c9ee8); // Gradiente intermedio 7
    }

    80% {
      background: linear-gradient(120deg, $primary-color, #4396e6); // Gradiente intermedio 8
    }

    90% {
      background: linear-gradient(135deg, $primary-color, #3a8de5); // Gradiente intermedio 9
    }

    100% {
      background: linear-gradient(150deg, $primary-color, $secondary-color); // Gradiente deseado
    }
  }

  animation: gradientAnimation .2s ease-in-out forwards;
}