$primary-color: #8FD3F4;
$secondary-color: #7166EF;
$white: #ffffff;
$gray: #e3e3e3;
$blue: #36344A;
$gradient: linear-gradient(150deg, $primary-color, $secondary-color);
// $carrousel-indicators: #6ba6c99b;
// $carrousel-active-indicator: #053c5c9b;
// $required: #cf3950;